* {
  box-sizing: border-box;
}

.compny::after {
  content: " ";
  display: block;
  width: 90%;
  height: 2px;
  transform: translateY(0.5em); /* 회사와 직책사이에 선 */
  background-color: wheat;
}

@media screen and (max-width: 62rem) {
  .container {
    flex-direction: column;
  }
}
